// Font families
$font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$font-family--avenir: 'Avenir';

// Font sizes
$font-size--small: 14px;
$font-size--normal: 16px;
$font-size--big: 18px;
$font-size--large: 20px;
