@import '../01_settings/_colors';

.footer {
  color: $color6;
  background-color: $color2;
  left: 0;
  right: 0;
  position: absolute;
  margin: 40px 0 0 0;
  min-height: 150px;

  &__list {
    margin: 20px 0 0 0;
  }

  &__made-with-love {
    font-size: $font-size--small;
  }

  &__heart {
    height: 18px;
  }

  &__vuejs {
    transition: all .35s ease-in-out;
    transition-property: color, border-color;
    color: $color6;
    border-bottom: 1px solid $color6;

    &:hover {
      transition: all .35s ease-in-out;
      transition-property: color, border-color;
      color: $color5;
      border-color: $color5;
    }
  }

  &__copyright {

  }
}
