@import '../01_settings/_colors';
@import '../02_tools/_media';

.projects {
  margin: 100px 0 0 0;

  &__link {
    display: block;
  }

  &__header {
    max-width: 500px;
    color: $color2;
    transition: all .25s ease-in-out;

    &:hover {
      color: lighten($color2, 10%);
      transform: scale(1.03, 1.06);
    }
  }

  &__logo {
    max-width: 480px;
    max-height: 50px;

     &--1und1 {
       height: 50px;
       width: 50px;
     }

    // &--rms {
    //   height: 60px;
    //   margin: 0 0 20px 0;
    //   //background: url(~assets/rmsviewer_logo.png) no-repeat 10px center;
    //   background-color: $color2;
    //   border-radius: 10px;
    // }

     &--chamaeleon {
       height: 50px ;
       width: 90px;
     }

    // &--gk {
    //   margin: 0 0 0 -10px;
    // }

    // &--man {
    //   margin: 0 0 0 -15px;
    // }
  }

  &__info {
    text-align: left;
    max-width: 60%;
    margin: 0 0 50px 0;
  }

  @include media('', mobile) {
    margin: 50px 0 0 0;

    &__offset {
      display: none;
    }

    &__logo {
      max-width: 200px;
      height: 60px;

      &--gk {
        margin: 0 0 0 -5px;
      }

      &--man {
        margin: 0 0 0 -10px;
      }
    }

    &__info {
      max-width: 100%;
    }
  }

  @include media(mobile, tablet) {
    &__offset {
      width: 20%;
    }

    &__info {
      max-width: 80%;
    }
  }

  @media screen and (min-height: 1200px) {
    p {
      font-size: 18px !important;
    }
  }

  p {
    font-size: 16px;
  }

  h3 {
    font-size: 22px;
    margin: 0 0 15px 0;
    color: $color2;
  }

  h4 {
    font-size: 18px;
    margin: 5px 0;
  }
}
