.row {
  display: flex;

  &--multiline {
    flex-wrap: wrap;
  }

  &--vcentered {
    align-items: center
  }

  &--hcentered {
    justify-content: center;
  }

  &:not(:last-child) {
    margin-bottom: $gutter/2;
  }

  @include media('', desktop) {
    &--reverse-mt {
      flex-direction: column-reverse;
    }
  }
}

.column {
  display: block;
  margin: 0;

  &--bottom {
    align-self: flex-end;
  }

  &--equal {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 1 through 12 {
    &--#{$i} {
      display: block;
      margin: 0;
      width: ($i / 12) * 100%;
    }
  }

  @include media('', mobile) {
    @for $i from 1 through 12 {
      &-mobile--#{$i} {
        display: block;
        margin: 0;
        width: ($i / 12) * 100%;
      }
    }
  }

  @include media('', tablet) {
    @for $i from 1 through 12 {
      &-tablet--#{$i} {
        display: block;
        margin: 0;
        width: ($i / 12) * 100%;
      }
    }
  }

  @include media('', desktop) {
    @for $i from 1 through 12 {
      &-desktop--#{$i} {
        display: block;
        margin: 0;
        width: ($i / 12) * 100%;
      }
    }
  }
}

@include media('', tablet) {
  .columns {
    &--mobile-reverse {
      flex-direction: column-reverse
    }
  }
}
