// Font families
$font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$font-family--avenir: 'Avenir';

// Font sizes
$font-size--small: 20px;
$font-size--normal: 22px;
$font-size--big: 24px;
$font-size--large: 26px;
