@import '../01_settings/_colors';

.about {
  padding: 150px 0;
  color: $color6;
  background-color: $color2;

  &__container {
    margin: 0 auto;
    max-width: 70%;
  }

  &__container__hello {
    max-width: 70%;
  }

  &__hello {
    text-align: left;
    margin-left: 6%;
  }

  &__info1 {
    text-align: left;
    margin-left: 6%;
  }

  &__social {
    margin-top: 100px;
  }

  @include media(desktop, '') {
    padding: 300px 0;
    &__container {
      min-height: 30vh;
    }
  }

  @include media('', tablet) {
    &__container {
      max-width: 70%;
    }

    &__container__hello {
      max-width: 70%;
    }
  }

  @include media('', mobile) {
    padding: 50px 0 30px 0;

    &__hello {
      margin-left: 0;
    }

    &__info1 {
      margin-left: 5%;
    }

    &__container {
      max-width: 90%;
    }

    &__container__hello {
      max-width: 81%;
    }

    &__social {
      margin-top: 50px;
    }
  }
}
