@import '../01_settings/_colors';

.about {
  min-height: 80vh;
  padding: 100px 0;
  color: $color6;
  background-color: $color2;

  &__container {
    margin: 0 auto;
    max-width: 55%;
  }

  &__container__hello {
    margin: 0 auto;
    max-width: 55%;
  }

  &__social {
    margin-top: 100px;
  }

  @include media('', mobile) {
    padding: 50px 0 30px 0;

    &__container {
      max-width: 90%;
    }

    &__container__hello {
      max-width: 75%;
    }

    &__social {
      margin-top: 50px;
    }
  }
}
