.about {
  background: no-repeat center/100% url('../assets/cfischer_header.jpg');
  background-size: cover;
  height: 100vh;

  &__graylayer {
    background-image: linear-gradient(90deg, rgba(50,60,65,0.5), rgba(50,60,65,0));
    height: 100%;
  }

  @media (max-width: 425px) {
    .about__container {
      margin: 0 auto;
    }
  }

  &__container {
    margin: 0 auto 0 15%;
    max-width: 310px;
    height: 100%;
    color: $color6;
    display: flex;
    flex-flow: column;
  }

  &__hello {
    flex: 0 0 auto;
    padding-top: 25vh;
    margin: 0;
  }

  &__info1 {
    flex: 0 0 auto;
    margin: 15px 0;
  }

  &__info2 {
    flex: 1 0 auto;
    margin: 15px 0;
  }

  &__more {
    flex: 0 1 auto;
    transition: color .35s ease-in-out;

    &:hover {
      color: $color5;

      .about__arrow {
        border-top: 10px solid $color5;
      }
    }
  }

  &__arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color6;
    transition: border-color .35s ease-in-out;
  }
}
