.contact {
  margin: 100px 0 0 0;

  &__item--dark {
    color: $color5;
    transition: all .35s ease-in-out;

    &:hover {
      color: $color2;
      transform: scale(1.05, 1.05);
    }
  }

  &__item {
    color: $color6;
    transition: all .35s ease-in-out;

    &:hover {
      color: $color5;
      transform: scale(1.05, 1.05);
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    min-width: 60px;
    height: 60px;

    &__description {
      margin: 10px;
    }
  }

  @include media('', mobile) {
    &__image {
      min-width: 50px;
      height: 50px;
    }
  }
}
