.contact {
  margin: 0 auto;
  width: 40%;

  &__item {
    width: 80px;
    height: 80px;
    color: $color5;
    transition: all .35s ease-in-out;

    &:hover {
      color: $color2;
      transform: scale(1.05, 1.05);
    }
  }

  &__image {
    min-width: 60px;
    height: 60px;
  }
}
