@import '../01_settings/_colors';

.hero {
  background: no-repeat url('../assets/cfischer_header.jpg');
  background-position: center top;
  background-position-y: 50px;
  background-size: cover;
  display: block;
  min-height: 100vh;

  &__graylayer {
    background-image: linear-gradient(90deg, rgba(50,60,65,0.5), rgba(50,60,65,0));
    height: 100%;
  }

  @media (max-width: 1000px) and (orientation:landscape) {
    .hero__container {
      margin: 0 0 0 20px;
    }

    .hero__hello {
      padding-top: 20vh;
      margin: 10px 0 0 0;
    }
  }

  .hero__container {
    margin: 0 0 0 10px;
  }

  @media (min-width: 48em) {
    .hero__container {
      margin: 0 0 0 10%;
    }
  }

  @media (max-width: 1200px) {
    &__hello {
      max-width: 280px;
    }

    &__more, &__info2 {
      max-width: 150px;
    }
  }

  &__container {
    margin: 0 0 0 250px;
    max-width: 350px;
    min-height: 100vh;
    color: $color6;
    display: flex;
    flex-flow: column;
  }

  &__hello {
    flex: 0 0 auto;
    padding-top: 12vh;
    margin: 100px 0 0 0;
    text-align: left;
  }

  @include media('', tablet) {
    &__hello {
      margin: 10px 0 0 0;
    }

    &__info1 {
      max-width: 150px;
    }
  }

  @include media(tablet, desktop) {
    &__hello {
      max-width: 300px;
    }

    &__info1 {
      max-width: 250px;
    }
  }

  &__info1 {
    text-align: left;
    margin: 25px 0 15px 0;
    flex: 1 1 auto;
  }

  &__info2 {
    text-align: left;
    flex: 1 0 auto;
    margin: 10px 0 0 0;
    visibility: hidden;
  }

  &__more {
    z-index: 5000;
    flex: 0 1 auto;
    transition: color .35s ease-in-out;
    margin: -15px 0 0 0;

    &:hover {
      color: $color5;

      .hero__arrow {
        border-top: 10px solid $color5;
      }
    }

    @media (hover: none) {
      &:hover {
         .hero__arrow {
          border-top: 10px solid $color6;
         }
      }
    }
  }

  &__arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color6;
    transition: border-color .35s ease-in-out;
  }
}
