.navigation {
  padding: 20px 10px 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: $color2;

  @include media ('', mobile) {
    .navigation__item--first {
      padding: 0;
    }
    .navigation__item--last {
      margin: -5px 0 0 0;
    }
  }

  @include media ('', tablet) {
    .navigation__item--offset {
      display: none;
    }
  }

  &__list {
    // margin: 0 40px;
    // text-align: right;
    // TODO(cfischer): fix inline space between elements
    // display: flex; (breaks align right)
  }

  &__link {
    transition: color .35s ease-in-out;

    &:hover {
      color: $color5;
    }
  }

  &__item {
    color: $color6;

    &--first {
      padding: 0 0 0 20px;
      text-align: left;
    }

    &--dark {
      transition: color .35s ease-in-out;
      color: $color5;

      &:hover {
        color: $color2;
      }
    }
  }

  // TODO(cfischer): fix button in ff, ie, edge
  &__change-language {
    width: 30px;
    height: 30px;
    background: no-repeat center/100 url(../assets/usa_flag.svg);
    vertical-align: bottom;
    transition: all .35s ease, background-image ease 0s;

    &:hover {
      transform: scale(1.3, 1.3);
    }

    &--en {
      background-image: url(../assets/usa_flag.svg);
    }

    &--de {
      background-image: url(../assets/germany_flag.svg);
    }
  }
}
