html {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;

  @include for-phone-portrait-up {
    font-size: 110%;
  }

  @include for-phone-landscape-up {
    font-size: 120%;
  }

  @include for-tablet-portrait-up {
    font-size: 130%;
  }

  @include for-tablet-landscape-up {
    font-size: 140%;
  }

  @include for-desktop-up {
    font-size: 150%;
  }

  @include for-big-desktop-up {
    font-size: 140%;
  }

  @include for-large-desktop-up {
    font-size: 170%;
  }

  @include for-4k-desktop-up {
    font-size: 270%;
  }
}

body {
  min-height: 100vh;
  background-color: $color6;
  color: $color5;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  background-size: 100% 100%;
  cursor: pointer;
  outline: none;
}
